/* body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
  }
  
  .task-card {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  button {
    background-color: #0070f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  } */